<ion-header>
  <ion-toolbar>
    <div slot="start" class="flex size-10 items-center justify-center">
      <ion-icon name="cube" size="large"></ion-icon>
    </div>
    <ion-title>Produtos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newProductVisible = !newProductVisible">
        <ion-icon name="add-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="listProducts($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <p-dataView #dv [value]="products" emptyMessage="Nenhum produto encontrado">
    <ng-template pTemplate="list" let-products>
      <div class="grid py-4">
        @for (product of products; track product) {
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option
                class="bg-blue-300 text-white"
                (click)="editProduct(product)"
              >
                <ion-icon slot="start" name="pencil"></ion-icon>
                Editar
              </ion-item-option>
            </ion-item-options>

            <ion-item>
              <div class="flex w-full gap-4 py-3">
                <p-inputSwitch
                  [(ngModel)]="product.status"
                  (onChange)="updateProductStatus(product)"
                />
                <div class="flex w-full justify-between">
                  <p>{{ product.name }}</p>
                  <p>{{ product.price | currency: 'BRL' }}</p>
                </div>
              </div>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option
                class="bg-red-500 text-white"
                (click)="deleteProduct(product)"
              >
                <ion-icon slot="start" name="trash"></ion-icon>
                Delete
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </div>
    </ng-template>
  </p-dataView>
</ion-content>

<p-dialog
  [header]="'Novo Produto'"
  [modal]="true"
  [(visible)]="newProductVisible"
  position="bottom"
  [draggable]="false"
  [style]="{ width: '100%' }"
  (onHide)="dialogClosed(false)"
>
  <app-new-product
    [product]="productToEdit"
    (productCreated)="dialogClosed(true)"
  />
</p-dialog>
