<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="orders">
      <ion-icon name="receipt"></ion-icon>
      Pedidos
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="cube"></ion-icon>
      Produtos
    </ion-tab-button>
    <ion-tab-button tab="debtors">
      <ion-icon name="create"></ion-icon>
      Devedores
    </ion-tab-button>
    <ion-tab-button tab="cashier">
      <ion-icon name="cash"></ion-icon>
      Caixa
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
